* {
  margin: 0;
}

body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 60px;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

li {
  display: inline;
  margin: 0 25px 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%; /* reto 06 remover */
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.main img {
  width: 50%;
}

.publish {
  margin-left: 30px;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

iframe {
  display: flex;
  margin: auto;
  max-width: 100%;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 50px;
  margin-top: 10px;
}

.features {
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
  grid-gap: 20px;
  padding: 10%;
  background: #025157;
}

.feature-card {
  border-radius: 10px;
  background: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8% 0 8% 8%;
}

.feature-card .info-col {
  width: 70%;
}

.feature-card .img-col {
  text-align: right;
}

.feature-card .img-col img {
  width: 100px;
}

.feature-card .icon {
  width: 50px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.feature-card p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
  margin: 30px 0;
}

.feature-card a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 650px) {
  h1 {
    font-size: 30px;
  }

  .main {
    margin-top: 185px;
  }

  .banner > img {
    width: 100%;
  }

  .publish > form {
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  /* reto 4 */
  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-card {
    padding: 8%;
  }

  .feature-card .info-col {
    width: 100%;
  }

  .feature-card .img-col {
    display: none;
  }
}